.userList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    margin-bottom: 5px;
  }
}

@media (max-width: 457px) {
  .userList {
    gap: 3.28vw;
  
    h2 {
      margin-bottom: 1.09vw;
    }
  }
}