.valueInputContent {
  margin-top: 25px;
}

.valueInputContent p {
  margin-top: 3px;
}

.valueInputPointInput {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valueInputPointInputButton {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #282828;
  border-radius: 4px;
}

