.valueInputContent {
  margin-top: 25px;
}

.valueInputContent p {
  margin-top: 3px;
}

.valueInputPointInput {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valueInputPointInputButton {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #282828;
  border-radius: 4px;
}

@media (max-width: 457px) {
  .valueInputContent {
    margin-top: 5.47vw;
  }
  
  .valueInputContent p {
    margin-top: 0.66vw;
  }
  
  .valueInputPointInput {
    margin-top: 5.47vw;
  }
  
  .valueInputPointInputButton {
    width: 7.00vw;
    height: 7.00vw;
    border-radius: 0.88vw;
  }
  
}