.app__content-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
  }
}