@mixin app-font($fw, $fz, $lh, $color: white) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $color;
}

.login-banner {
  padding: 95px 30px 40px 30px;
  background: #75D7A1;
  border-radius: 25px;

  h2 {
    @include app-font(700, 36px, 44px);
  }

  p {
    margin-top: 10px;
    @include app-font(500, 18px, 22px);
  }
}