
.eventItemAbout {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.eventItemIcon {
  width: 16px;
  height: 19px;
  background-color: transparent;

  span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@media (max-width: 457px) {
  .eventItemAbout {
    gap: 2.19vw;
  
    p {
      font-size: 3.06vw;
      line-height: 3.72vw;
    }
  }
  
  .eventItemIcon {
    width: 3.50vw;
    height: 4.16vw;
  }
}