.appInput {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.appInput::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 457px) {
  .appInput {
    padding: 3.06vw 4.38vw;
    font-size: 3.94vw;
    line-height: 4.81vw;
    border-radius: 2.19vw;
  }
}