.user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    margin-bottom: 5px;
  }
}

.user-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;

  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    line-height: 19px;
  }

  span {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.user-list__item_active {
  padding-bottom: 15px;
  border-bottom: solid 1px #F1F1F1;
}

.user-list__item_active-img {
  width: 37px;
  height: 28px;
  background-image: url(../../../assets/king.svg);
  top: -16px;
  left: 5px;
  position: absolute;
}
