
@mixin app-font($fw, $fz, $lh, $color: $black-main) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin app-flex($jc: space-between, $ai: center, $ds: flex) {
  display: $ds;
  justify-content: $jc;
  align-items: $ai;
}

$red-error: #D77575;
$black-main: #1A1A1A;
$grey-main: rgba(217, 217, 217, 0.2);


.app__content_login {
  flex-direction: column;
  @include app-flex();
}

.login-page__form {
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  @include app-flex(start, start);
}

.login-page__toggle {
  @include app-font(400, 16px, 19px);

  span {
    color: #75D7A1;
  }
}

.login-page__password {
  position: relative;
}

.login-page__password-icon {
  width: 22px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  background-image: url(../../assets/password.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transform: translateY(-50%);
}

.login-page__password-icon_v {
  width: 22px;
  height: 18.5px;
  background-image: url(../../assets/password-v.svg);
}