.rangeInput {
  margin-top: 25px;
}
.rangeIpnutInput {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rangeInputRange {
  width: 100%;
  max-width: 225px;
}

@media (max-width: 457px) {
  .rangeInput {
    margin-top: 5.47vw;
  }
  .rangeIpnutInput {
    margin-top: 3.72vw;
  }
  .rangeInputRange {
    max-width: 49.23vw;
  }
}