.rangeInput {
  margin-top: 25px;
}
.rangeIpnutInput {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rangeInputRange {
  width: 100%;
  max-width: 225px;
}