.mainButton {
  width: 100%;
  padding: 20px 40px;
  background: #1A1A1A;
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 457px) {
  .mainButton {
    padding: 4.38vw 8.75vw;
    border-radius: 8.75vw;
    font-size: 3.94vw;
    line-height: 4.81vw;
  }
}